/*Author: God Bennett */
/* Desktops and laptops ----------- */
@font-face 
{
	font-family : Segoe;
	src : url(data/fonts/segoe.ttf);
}
.MediumSegoeFontFace
{	
	font-family : Segoe;
	font-size :24px;
	padding-top: -220px;
}
.LargeSegoeFontFace
{	
	font-family : Segoe;
	font-size :34px;
}

.SmallSegoeFontFace
{	
	font-family : Segoe;
	font-size :16px;
}

